.custom-pagination {
    display: flex;
    padding-top: 30px;
    list-style: none;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
  }
  
  .custom-pagination span:hover,
  .custom-pagination li:hover {
    cursor: pointer;
  }
  
  .custom-pagination .current,
  .custom-pagination .page-item:hover a {
    color: #7c5bf0;
    font-weight: 500;
  }
  
  .custom-pagination .page-item {
    border: 1px solid #e6e7f3;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 10px;
    transition: all 400ms ease;
  }
  
  .custom-pagination .page-item:hover {
    border: 1px solid #7c5bf0;
  }
  
  .custom-pagination .arrow:first-child {
    margin-right: 20px;
  }
  
  .custom-pagination .arrow:last-child {
    margin-left: 20px;
  }
  