ul.breadcrumb {
    display: flex;
    padding-top: 5px;
    vertical-align: middle;
}

ul.breadcrumb li {
    display: flex;
    font-size: 16px;
    align-items: center;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: " > ";
}

ul.breadcrumb li.white+li:before {
    padding: 8px;
    color: white;
    content: " > ";
} 

ul.breadcrumb a{
    color: black;
    vertical-align: middle;
}

ul.breadcrumb a:hover {
    color: var(--dark-purple);
}

.breadcrumb ion-icon {
    vertical-align: middle;
    font-size: 16px;
    padding-right: 10px;
}